@import "@/styles/variables.module"

#elementsBox, .dndElement, #headerSection
    display: flex
    padding: $content-padding
    border-radius: 0.5rem
    >hr
        width: 90%
        align-self: center
        margin: 1rem 0

#elementsBox
    flex-direction: column
    border: 1px solid white

#headerSection
    justify-content: space-between

.dndElement
    align-items: center
    justify-content: space-between
    transition: 0.2s
    background-color: grey
    margin: 1rem 0
    overflow: hidden
    > div
        &:first-child
            display: flex
            flex-direction: column
            gap: 1rem
        &:last-child
            > button
                &:last-of-type
                    margin-left: 0.5rem
                    background-color: red
                    opacity: 0.8
    &:hover
        cursor: grab
        opacity: 0.9

.elementDragHover
    opacity: 0.5
    transform: scale(1.01)

#modal
    width: 70vw
    height: 70vh
    border-radius: $main-radius
    background-color: grey
    padding: $content-padding
    > div
        margin-bottom: 1.5rem
        &:first-of-type
            display: flex
            justify-content: space-around

#modalActionContainer
    display: flex
    flex-direction: column
