@import "@/styles/variables.module"

.hidden
    display: none !important

#modalContainer
    position: absolute
    top: 0
    left: 0
    z-index: 10
    width: 100vw
    height: 100vh
    background-color: rgba(0,0,0,0.3)
    display: flex
    justify-content: center
    align-items: center
    transition: 0.5

#modal
    width: 80vw
    height: 70vh
    background: grey
    border-radius: $main-radius
    padding: $content-padding
    display: flex
    flex-direction: column
    > div
        &:first-child
            margin-bottom: 2rem
        &:last-child
            display: flex
            flex-direction: column

.closeImage
    transition: 0.2s all
    &:hover
        transform: scale(1.1)
        cursor: pointer
    &:active
        transform: none
