@import "@/styles/variables.module"

#viewsContainer
    display: flex
    flex-direction: column
    > div
        &:first-of-type
            display: flex
        &:last-of-type
            display: flex
            flex-direction: column
            min-height: 200px
            border: 1px solid $main-color
            align-items: center
            justify-content: center
            border-bottom-left-radius: $main-radius
            border-bottom-right-radius: $main-radius

#buttonsSelectContainer
    display: flex
    margin-top: 1rem
    > button
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        &:last-of-type
            background: none
            color: white
            border: 1px solid $main-color
        &:hover
            transform: scale(0.98)
#modal
    width: 80vw
    height: 70vh
    background: grey
    border-radius: $main-radius
    padding: $content-padding
    display: flex
    flex-direction: column
    > div
        &:first-child
            margin-bottom: 2rem
        &:last-child
            display: flex
            flex-direction: column

.loaderView
    border-radius: $main-radius
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border: 1px solid $main-color
    min-width: 2.5rem
    color: black
    transition: 0.1s all
    display: flex
    align-items: center
    justify-content: center
    *
        box-sizing: border-box
    &:hover
        transform: scale(1.05)
        cursor: pointer
        opacity: 0.9
    &:active
        transform: none
    &:disabled
        opacity: 0.6
        transform: none
        cursor: not-allowed
