#viewsContainer
    display: flex
    flex-direction: column
    > div
        &:first-of-type
            display: flex

#viewsSelectContainer
    display: flex
    > button
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
