@import "@/styles/variables.module"

*
  padding: 0
  margin: 0
  box-sizing: border-box
  margin-block-start: 0
  margin-block-end: 0

*, *:before, *:after
  box-sizing: inherit

html
  scroll-behavior: smooth
  background: rgb(0,0,0)
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(97,97,96,1) 100%)

body
  font-size: 16px
  color: white
  button
    border-radius: $main-radius
    padding: $button-padding
    background-color: $main-color
    border: none
    color: black
    transition: 0.1s all
    *
      box-sizing: border-box
    &:hover
      transform: scale(1.05)
      cursor: pointer
      opacity: 0.9
    &:active
      transform: none
      background-color: $main-contrast
    &:disabled
      opacity: 0.6
      transform: none
      cursor: not-allowed
  a
    text-decoration: none
    color: inherit
  form
    display: flex
    flex-direction: column
    margin: 1.5rem 0
    input, select, textarea
      padding: $button-padding
      border-radius: $main-radius
      border: 1px solid white
      margin: 0.5rem 0
      width: 100%
      max-width: 90%
      max-height: 250px
    >button[type="submit"]
      margin-top: 2rem
      background-color: $main-color
      width: 70%
      align-self: center

h1, h2
  color: white

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  background: none

::-webkit-scrollbar-thumb
  background: white
  border-radius: 2px

::-webkit-scrollbar-thumb:hover
  background: $main-color

@media screen and (min-width: 768px)
  form
    width: 85%
    input, select, textarea
      width: 60%
    >button[type="submit"]
      width: 40%

@media screen and (min-width: 992px)
  form
    width: 70%
    input, select, textarea
      width: 40%
    >button[type="submit"]
      width: 30%

@media screen and (min-width: 1200px)
  form
    width: 65%
