$main-color: #74d25e
$main-contrast: #0a9bac
$medium-green: #3fb982
$opacity-gray: #616160
$video-player-color: rgba(10,155,172, 0.5)

$content-padding: 1rem
$main-radius: 1rem
$button-padding: 0.6rem 1.4rem
